.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 100;
  overflow: hidden;
}

.modal-wrapper {
  background: #fff;
  position: relative;
  margin: 0 auto 50px;
  margin-top: 15vh;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  width: 50%;
  max-width: 650px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.modal-title {
  line-height: 24px;
  font-size: 18px;
  color: #303133;
  font-family: "Open Sans", "Roboto", "Helvetica", sans-serif, Arial;
}

.modal-title__btn svg {
  font-family: element-icons !important;
  speak: none;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
